<div class="form-inline clearfix">
  <div class="nested-fields">
    <div class="form-group">
      <%= f.label :step %>
      <%= f.text_area :step, class: "form-control form-input" %>
    </div>
    <%= link_to_remove_association "Remove", f, class: "btn btn-warning form-button" %>
  </div>
</div>