<h1 class="text-center">About</h1>

<div class="container">
  <p>
    This is the about page that describes everything that's in this web application.
    Why it was built, its main purpose and intended audience.
  </p>

  <p>
    <h3>
      Contact me at jacknkiarie@gmail.com
    </h3>
  </p>
</div>