<div class="page-header">
  <h1 class="text-center">Welcome to the Recipe Box</h1>
</div>

<%= link_to "New Recipe", new_recipe_path, class: "btn btn-primary" %>

<% @recipe.each_slice(3) do |recipes|%>
    <div class="row">
      <% recipes.each do |recipe| %>
        <div class="col-md-4">
          <div class="recipe">
            <div class="image-wrapper">
              <%= link_to recipe do
                image_tag(recipe.image.url(:medium))
              end %>
            </div>
              <h2 class="text-center"><%= link_to recipe.title, recipe, class: "recipe-links" %></h2>
          </div>
        </div>
      <% end %>
    </div>
<% end %>