@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  background: rgb(235, 238, 243 );
}

.btn-default {
  background-color: transparent;
  &:hover {
    background-color: plum;
  }
}

/* navbar */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
    color: plum;
    text-decoration: none;
  }
}

/* rows */
.row {
  padding-bottom: 30px;
}
/* recipe index page */

.recipe {
  background: white;
  border-radius: 5px;
  .image-wrapper {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }
  img {
    width: 100%;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;

    &:hover {
      transform: scale(1.045);
    }
  }
}

/* nested forms */

/* ingredients form */

#ingredients {
  background: white;
}

/* directions form */
#directions {
  background: white;
}

.form-inline {
  margin-top: 15px;
}
.form-input {
  width: 65%;
}

.form-button {
  margin-left: 5%;
}

.add-button {
  margin-left: 5px;
  margin-top: 20px;
}

/* recipe show page */

.description {
  background: white;
  min-height: 300px;
  h1 {
    color: plum;
    font-size: 3em;
    font-weight: bold;
  }
  p {
    font-size: 20px;
  }
}

#ingredients, #directions {
  min-height: 400px;
  h2 {
    padding-top: 20px;
    font-weight: bold;
    padding-left: 20px;
  }
  li {
    padding-bottom: 15px;
    font-size: 17px;
  }
}
